.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}

#social-buttons button {
  color:white;
}

.jumbotron {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#mission {
  background: rgba(32, 35, 41, 0.9);
  color: #ddd;
}

body {
  padding-top: 70px;
}

#search {
  font-size: 17.5 px;
}

small {
  font-size: 15px;
}

.title {
  font-size: 23px;
}

 h1 {
   font-size: 40px;
 }

.description {
  font-size: 10px;
  padding: 40px 100px 40px 100px;
}

p {
  font-size: 17px;
  text-align: center;
}

.image1 {
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
}

li {
  font-size: 20px;
  list-style: none;
}

.list {
  text-align: left;
}
